*.o
ui*.h
release/moc*
release/Moto_Sklep.exe
Makefile
Makefile.Debug
Makefile.Release
moto_sklep.pro.user
object_script.Moto_Sklep.Debug
object_script.Moto_Sklep.Release
release/raport_dostaw.cpp
release/raport_sztuk.cppdupa
release/raport_zamowien.cpp
